@media (min-width: 768px) {
  .info-section {
    height: 90.2vh;
  }

  .bienvenida {
    font-size: 2.5rem;
  }

  .requisitos {
    font-size: 1.3rem;
  }

  .listaRequisitos {
    font-size: 1.3rem;
  }

  .message-section {
    height: 90.2vh;
  }

  .message {
    font-size:2.5rem;
    text-align: left;
  }
}